.CodeMirror {
	font-size: 14pt;
	height: 780px;
	width: 85%;
	float: right;
}

.webkit-region {
	background: #555;
	color: white;
	font-family: arial;
}

.sidebar {
	background: #333;
	height: 780px;
	width: 15%;
	float: left;
	color: white;
}

.fn {
	color: white;
	position: absolute;
	left: 20%;
}